/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****** HEADER ***********/
.header {
	/* background-color: darkseagreen; */
	background-image: linear-gradient(to right, lightgreen, red);
	padding: 0px 0px;
	height: 125px;
	display: flex;
	text-align: center;
	font-size: larger;
	font-family: 'Sarabun', sans-serif;
	justify-content: space-between;
	align-items: flex-end;
	
}

#title {
	font-size: 4rem;
	font-family: 'Dancing Script', cursive;
}


/******* MENU ************/
.menu-container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	height: 3.5rem;

}

.menu {
	border: 1px solid #fff; /* for debugging */
	margin: 20px 20px 20px 20px;
	width: 20dvw;
}

/**** MAIN WINDOW **********/

.restaurants-container {
	background-image: url("/public/images/red-green_background.jpg");
	background-size: 50dvw;
	padding: 0px 0;
	display: flex;
	width: 100dvw;
	height: 50dvw;
	justify-content: center;

}

.column-left {

	padding: 20px 0;
	display: flex;
	width: 10dvw;
}


.column-restaurants {
	
	
	background-position: top;
	padding: 0px 0;
	display: flex;
	flex-wrap: wrap;
	width: 80dvw;
	text-align: center;
	justify-content: space-between;

}

.restaurant {
	background-color: rgba(238,255,204,.5);
	font-size: 1.1em;
	font-family: 'Sarabun', sans-serif;
	padding: 20px 0;
	margin: 20px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	width: 20dvw;
	border: 1px solid gainsboro; 
	border-radius: 30px; 

}

.column-ratings {
	
	padding: 0px 0;
	display: flex;
	flex-direction: column;
	width: 80dvw;
	text-align: center;
	
}

#rating-title {
	font-size: 3rem;
	padding: 20px 20px;
}

.rating {
	background-color: rgba(238,255,204,.5);
	font-size: 1.1em;
	font-family: 'Sarabun', sans-serif;
	padding: 20px 0;
	align-items: center;
	justify-content: space-around;
	width: 80dvw;
	border: 1px solid gray; /* for debugging */
}

.column-right {

	padding: 20px 0;
	display: flex;
	width: 10dvw;

}

/******* BUTTTONS ************/

/* CSS */
.new-record-btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #009933;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.new-record-btn:hover,
.new-record-btn:focus {
  background-color: #00e64d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.new-record-btn:hover {
  transform: translateY(-1px);
}

.new-record-btn:active {
  background-color: #00cc44;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.edit-delete-btn {
	align-items: center;
	background-clip: padding-box;
	background-color: #e60000;
	border: 1px solid transparent;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
  }
  
  .edit-delete-btn:hover,
  .edit-delete-btn:focus {
	background-color: #ff4d4d;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .edit-delete-btn:hover {
	transform: translateY(-1px);
  }
  
  .edit-delete-btn:active {
	background-color: #ff4d4d;
	box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
	transform: translateY(0);
  }

/***************** INPUT ELEMENTS ************/

.input-field {
	border-radius: 10px;
	outline: 2px solid #009933;
	border: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #e2e2e2;
	outline-offset: 3px;
	padding: 10px 1rem;
	margin: 10px 10px 10px 10px;
	transition: 0.25s;
  }
  
  .input-field:focus {
	outline-offset: 5px;
	background-color: #fff
  }
  
  :focus {
	outline: 0;
	border-color: #2260ff;
	box-shadow: 0 0 0 4px #b5c9fc;
  }
  
  .rating-radio div {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.5rem;
	justify-content: center;
  }
  
  .rating-radio input[type="radio"] {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }
  
  .rating-radio input[type="radio"]:checked + span {
	box-shadow: 0 0 0 0.0625em #80ff80;
	background-color: #dee7ff;
	z-index: 1;
	color: #008000;
  }
  
  label span {
	display: block;
	cursor: pointer;
	background-color: #fff;
	padding: 0.375em .75em;
	position: relative;
	margin-left: .0625em;
	box-shadow: 0 0 0 0.0625em #b5bfd9;
	letter-spacing: .05em;
	color: #3e4963;
	text-align: center;
	transition: background-color .5s ease;
  }
  
  label:first-child span {
	border-radius: .375em 0 0 .375em;
  }
  
  label:last-child span {
	border-radius: 0 .375em .375em 0;
  }
  