/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****** HEADER ***********/
.header {
	background-color: darkseagreen;
	padding: 0px 0px;
	height: 125px;
	display: flex;
	text-align: center;
	font-size: larger;
	font-family: 'Sarabun', sans-serif;
	justify-content: space-between;
	align-items: flex-end;
	
}

#title {
	font-size: 4rem;
	font-family: 'Dancing Script', cursive;
}


/******* MENU ************/
.menu-container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	height: 3.5rem;

}

.menu {
	border: 1px solid #fff; /* for debugging */
	margin: 20px 20px 20px 20px;
	width: 20dvw;
}

/**** MAIN WINDOW **********/

.restaurants-container {
	background-image: url("/public/images/red-green_background.jpg");
	background-size: 50dvw;
	padding: 0px 0;
	display: flex;
	width: 100dvw;
	justify-content: center;

}

.column-left {

	padding: 20px 0;
	display: flex;
	width: 10dvw;
}


.column-restaurants {
	
	
	background-position: top;
	padding: 0px 0;
	display: flex;
	flex-wrap: wrap;
	width: 80dvw;
	text-align: center;
	justify-content: space-between;

}

.restaurant {
	background-color: rgba(238,255,204,.5);
	font-size: 1.1em;
	font-family: 'Sarabun', sans-serif;
	padding: 20px 0;
	margin: 20px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	width: 20dvw;
	border: 1px solid gainsboro; 
	border-radius: 30px; 

}

.column-ratings {
	background-color: darkcyan;
	padding: 0px 0;
	display: flex;
	flex-direction: column;
	width: 80dvw;
	text-align: center;
	border: 1px solid gray; /* for debugging */
}

#rating-title {
	font-size: 3rem;
	padding: 20px 20px;
}

.rating {
	background-color: brown;
	font-size: 1.1em;
	padding: 20px 0;
	align-items: center;
	justify-content: space-around;
	width: 80dvw;
	border: 1px solid gray; /* for debugging */
}

.column-right {

	padding: 20px 0;
	display: flex;
	width: 10dvw;

}

